.header {
  @include image-container;
  display: flex;
  position: fixed;
  top: 0;
  background-color: orange;
  width: 100%;
  min-width: 315px;
  padding: 15px 20px;
  z-index: 2;
  align-items: center;
  justify-content: center;

  img {
    min-width: 50px;
    width: 50px;
    height: auto;
  }

  h1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  input {
    //background-image: url('searchicon.png');
    background-repeat: no-repeat;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    width: 100%;
    height: 25px;
    font-size: 1rem;
    background-position: 10px 10px;
  }
}
