.sortPosts {
  border-bottom: 3px solid gainsboro;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  position: fixed;
  top: 80px;
  width: 100%;
  background-color: whitesmoke;
  z-index: 2;
  min-width: 315px;

  button {
    margin-bottom: 5px;
  }
}
